<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Articles by Aviatrix</title>
  <style>
    /* Style for the blog container */
    div {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }

    /* Style for the blog title */
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    /* Style for the blog description */
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    /* Style for the blog body list */
    p {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;
    }

    /* Style for the blog instagram section */
    h2:nth-of-type(2) {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    /* Style for the blog website and created at sections */
    p:nth-of-type(n+4) {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  </style>
  {{#each blogsDataPlain as |blog| }}
  <div>
    <h1>{{blog.title}}</h1>
    <h2>{{blog.description}}</h2>
    <p>{{blog.body}}</p>
    <p>instagram: {{blog.instagram}}</p>
    <p>Created At: {{blog.createdAt}}</p>
  </div>
  {{/each}}